#root {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
